# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

.cache